<a class="btn btn-default btn-block back-button" href="buildings" role="button">Back to building list</a>
<div class="details-panel">
    <h3 class="building-title">{{building? building.name : ''}}</h3>
    <div class="time-location">
        Location: {{building ? building.location : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>Description: {{building ? building.description : ''}}</span>
</div>
<div class="divider"></div>
<comment [parentId]="parentId"> </comment>