<div class="sort-options">
	sort icon<span style="float: right">filter icon</span>
</div>
<div class="list-container">
    <div class="list-item" *ngFor="let building of buildings">
        <div class="top-row">
            <div class="event-name">
                <span>{{building.name}}</span>
            </div>
            <div class="event-expand">
                <a class="btn btn-default" [routerLink]="['/campus-buildings', building.placeId, 'campus-buildings']">Show Building</a>
            </div>
        </div>
        <div class="bottom-row">
            <div class="event-location">
                <span>{{building.location}}</span>
            </div>
        </div>
    </div>
</div>
