<a class="btn btn-default btn-block back-button" href="buildings" role="button">Back to building list</a>
<div class="details-panel">
    <h3 class="building-title">{{building? building.name : ''}}</h3>
    <div class="time-location">
        Location: {{building? building.location : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>This is an building that is taking place for a reason and will be located at a place and things</span>
</div>
<div class="divider"></div>
<div class="comments-container">
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-modal" [class.selected]="commentView" (click)="setCommentView(true)">Comments</button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-modal" [class.selected]="!commentView" (click)="setCommentView(false)">Questions</button>
        </div>
    </div>
    <div class="single-comment">
        <div class="question-form">
            <input type="text" class="question-entry" placeholder="{{commentView? 'Enter a comment' : 'Ask a question'}}" [(ngModel)]="newComment.message_body">
            <button class="btn btn-default" (click)="postComment()">Post</button>
        </div>
    </div>
    <div class="single-comment" *ngFor="let msg of (commentView? comments : questions)">
        <span><b>{{msg.message_username}}</b></span><span class="excitement-score">[excitement score: 5]</span>
        <br />
        <span>{{msg.message_body}}</span>
    </div>
</div>