<a class="btn btn-default btn-block back-button" href="events" role="button">Back to event list</a>
<div class="details-panel">
    <h3 class="event-title">{{event? event.name : ''}}</h3>
    <div class="time-location">
        Location: {{event? event.location : ''}}<br />
        Time: {{event? (event.start_time | date:'EEEE, MMM d, h:ma') : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>{{event? event.description : ''}}</span>
</div>
<div class="divider"></div>
<comment [parentId]="parentId"> </comment>
