<div class="sub-container">
    <hr class="explore" />
    <a class="btn btn-default btn-block homepage-button" role="button" [routerLink]="['/food-entertainment']">Places</a>
    <a class="btn btn-default btn-block homepage-button" role="button" [routerLink]="['/events']">Events</a>
</div>
<br />
<div class="sub-container">
    <hr class="campus" />
    <a class="btn btn-default btn-block homepage-button" role="button" [routerLink]="['/campus-buildings']">Campus Buildings</a>
    <a class="btn btn-default btn-block homepage-button" role="button" [routerLink]="['/study-locations']">Study Spaces</a>
</div>
