<a class="btn btn-default btn-block back-button" [routerLink]="['/places']" role="button">Back to list</a>
<div class="details-panel">
    <h3 class="place-title">{{place? place.name : ''}}</h3>
    <div class="time-location">
        Location: {{place? place.location : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>{{(place && place.description)? place.description : 'No description available.'}}</span>
</div>
<div class="divider"></div>
<comment [parentId]="parentId"> </comment>
