<div class="sort-options">
    <div class="sort-dropdown" *ngIf="sortOptionsVisible">
        <button type="button" class="btn btn-square" (click)="toggleDropdown()">Sort</button>
        <br />
        <div class="radio" *ngIf="soonest">
            <label><input type="radio" name="sortradio" (click)="sortByDate()" checked>by soonest</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="sortradio" (click)="sortByRating()" checked>by rating</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="sortradio" (click)="sortByProximity()">by nearest</label>
        </div>
        <div class="radio">
            <label><input type="radio" name="sortradio" (click)="sortByName()">alphabetically</label>
        </div>
    </div>
    <div class="sort-components">
        <button type="button" class="btn btn-square" (click)="toggleDropdown()">Sort</button>
        <input type="text" id="search_text" [placeholder]="boxText" [(ngModel)]="searchText" />
        <a class="btn btn-square" [routerLink]="link" [queryParams]="{search: searchText}">Search</a>
    </div>
</div>
