<sort [items]="studyLocations" boxText="Search study locations" [link]="['/study-locations']"></sort>
<div class="list-container">
    <div class="list-item" *ngFor="let location of studyLocations">
        <div class="top-row">
            <div class="event-name">
                <span>{{location.name}}</span>
            </div>
            <div class="event-expand">
                <a class="btn btn-default" [routerLink]="['/study-locations', location.place_id, 'study-location']">Show Study Space</a>
            </div>
        </div>
        <div class="bottom-row">
            <div class="event-datetime">
                <span>Score: {{location.dynamic_senti_score | number: '1.2-2'}}</span>
            </div>
        </div>
    </div>
</div>
