<a class="btn btn-default btn-block back-button" [routerLink]="['/study-locations']" role="button">Back to study space list</a>
<div class="details-panel">
    <h3 class="building-title">{{studyLocation? studyLocation.name : ''}}</h3>
    <div class="time-location">
        Rating: {{studyLocation ? studyLocation.rating_average + ' (' + studyLocation.rating_count + ' ratings)' : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>{{(studyLocation && studyLocation.description)? studyLocation.description : 'No description available.'}}</span>
</div>
<div class="divider"></div>
<comment [parentId]="parentId"> </comment>
