<a class="btn btn-default btn-block back-button" href="study-locations" role="button">Back to Study Space list</a>
<div class="details-panel">
    <h3 class="building-title">{{studyLocation? studyLocation.name : ''}}</h3>
    <div class="time-location">
        Location: {{studyLocation ? studyLocation.location : ''}}
    </div>
</div>
<div class="divider"></div>
<div class="details-panel">
    <span>Description: {{studyLocation ? studyLocation.description : ''}}</span>
</div>
<div class="divider"></div>
<comment [parentId]="parentId"> </comment>