<div id="title-bar">
    <h1>Events</h1>
</div>
<a class="btn btn-default btn-block back-button" href="events" role="button">Back to event list</a>
<div class="event-container">
    <div class="details-panel">
        <h2>Example event</h2>
        <p>This is an event that is taking place for a reason and will be located at a place and things</p>
    </div>
    <div class="right-panel">
        <h4><b>Location</b></h4>
        <span>Ex. location</span>
        <br /><br />
        <!-- #if event.duration
            <h3>Time: #event.starttime# to #event.starttime + event.duration#</h3>
        #else -->
        <h4><b>Time</b></h4>
        <span>2/11/17 6:30pm</span>
        <br /><br />
        <h4><b>Emotion score</b></h4>
        <span>Ex. score</span>
    </div>
</div>
<div class="comments-container">
    <h3 class="comments-header">Comments</h3>
    <div class="single-comment">
        <form class="form-inline question-form" method="post">
            <input type="text" class="form-control question-entry" id="message_body" placeholder="Enter a comment">
            <button type="submit" class="btn btn-default">Post</button>
        </form>
    </div>
    <div class="single-comment">
        <b>example-user1</b><br />
        <span>This event is going to be awesome!</span>
    </div>
    <div class="single-comment">
        <b>example-user2</b><br />
        <span>I love events at locations!</span>
    </div>
</div>
