.event-list-item {
	display: flex;
	flex-flow: column;
}

.top-row {
	width: 100%;
	flex: 1 1 auto;
}

.bottom-row {
	width: 100%;
	flex: 0 1 auto;
}

@mixin left-half {
	width: 50%;
	float: left;
	margin: 0px;
	padding: 5px 0px 5px 5px;
}

@mixin right-half {
	margin: 0px 0px 0px 50%;
	padding: 5px 5px 5px 0px;
	text-align: right;
}

.event-name {
	@include left-half;
	
	h3 {
		margin: 0px;
		padding: 0px;
		font-size: 120%;
	}
}

.event-location {
	@include left-half;
	
	p {
		margin: 0px;
	}
}

.event-expand {
	@include right-half;
	
	a {
		
		padding: 5px;
	}
}

.event-datetime {
	@include right-half;
	
	p {
		margin: 0px;
	}
}
