@import 'lib/bootstrap.min';

@function highlight($color) {
    @return lighten($color, 5%);
}

$primary1: #333333;   // dark background, borders, dark text
$secondary1: #FFFFFF; // light color
$border1: #000000;
$primary2: #6666FF;   // button background
$secondary2: #000000; // button highlight
$border2: #333399;

html, body {
    height: 100%;
    background: #CCCCCC;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
}

h1 {
    font-size: 250%;
    text-align: center;
    color: $primary1;
}

.container {
    height: 100%;
    background: #FFFFFF;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }
}

.btn-default {
    background-color: $primary2;
    border-color: $border2;

    &:hover {
        background-color: highlight($primary2);
        border-color: highlight($border2);
    }
}
