@import 'base';
@import 'titled';

hr {
    border-width: 0px;
    border-top: 1px solid $primary2;
    text-align: center;
    height: 0px;
    margin-bottom: 10px;

    &:after {
        display: inline-block;
        position: relative;
        top: -10px;
        font-size: 120%;
        background: #FFFFFF;
        color: $primary1;
        padding: 0px 10px;
    }

    &.explore:after {
        content: 'Explore';
    }

    &.questions:after {
        content: 'Ask a question';
    }
}

#homepage-buttons {
    width: 85%;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    #homepage-buttons {
        width: 100%;
    }
}

.homepage-button {
    margin: 10px;
    padding: 30px 10px;

    font-size: 120%;
}

#question-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question-entry {
    flex: 1;
    margin: 10px 0px 10px 10px;
    padding: 5px;
}

.question-search {
    @include button($secondary2, $primary2, $primary2-highlight, $border2, 0px);
    padding: 5px;
    margin: 10px 10px 10px 0px;
}

.browse-previous {
    @include button($secondary2, $primary2, $primary2-highlight, $border2, 3px);
    padding: 5px;
    margin: 0px 10px 10px 10px;
}
