@import 'base';
@import 'titled';

hr {
    border-width: 0px;
    border-top: 1px solid $primary2;
    text-align: center;
    height: 0px;
    margin-bottom: 20px;

    &:after {
        display: inline-block;
        position: relative;
        top: -10px;
        font-size: 120%;
        background: #FFFFFF;
        color: $primary1;
        padding: 0px 10px;
    }

    &.explore:after {
        content: 'Explore';
    }

    &.questions:after {
        content: 'Ask a question';
    }
}

.homepage-button {
    padding: 30px 10px;
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 120%;
    }
}

.question-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question-entry {
    flex: 1 1 100%;
}

.question-search {
    flex: 0 1 auto;
}
