@function highlight($color) {
    @return lighten($color, 5%);
}

$primary1: #333333;   // dark background, borders, dark text
$secondary1: #FFFFFF; // light color
$border1: #000000;
$primary2: #E8E8E8;   // button background
$secondary2: #F7F7F2;
$border2: darken($primary2, 10%);

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px;
}

hr {
    border-width: 0px;
    border-top: 1px solid $border1;
    height: 0px;
    margin-bottom: 20px;
}

.container {
    padding: 0px;
}

@media (min-width: 768px) {
    .container {
        max-width: 700px;
    }
}

.sub-container {
    padding: 0px 15px;
}

.btn-default {
    @include button-variant($primary1, $primary2, $border2);
}
