h2, h3, h4 {
    margin: 0px;
}

.event-title {
	margin-bottom: 5px;
}

.comments-container {
    border-bottom: 1px solid $border2;
}

.comments-header {
    padding-top: 5px;
    padding-left: 5px;
}

.single-comment {
    width: 100%;
    padding: 5px;

    border-top: 1px solid $border2;

    &:nth-child(odd) {
        background: #EECC99;
    }
}

.excitement-score {
    float: right;
}

.back-button {
    border-radius: 0px;
}

.details-panel {
    padding: 5px;
}

.time-location {
	font-size: 80%;
	margin: 0px;
	padding: 0px;
}

.divider {
    width: 100%;
    height: 8px;
    background: #CCCCCC;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}
