$padding: 5px;

@mixin event-detail($top: null, $right: null, $bottom: null, $left: null) {
    position: absolute;
    top: $top;
    left: $left;
    bottom: $bottom;
    right: $right;
}

.event-name {
	@include event-detail($top: $padding, $left: $padding);
}

.event-location {
	@include event-detail($bottom: $padding, $left: $padding);
}

.event-expand {
	@include event-detail($top: $padding, $right: $padding);

	a {
	    @include button-variant(#FFFFFF, #009900, #003300);
	    padding: 2px 5px;
	}
}

.event-datetime {
	@include event-detail($bottom: $padding, $right: $padding);
}

.sort-options {
	width: 100%;
	padding: 5px;
}
