$padding: 5px;

@mixin event-detail {
    position: absolute;

    a, p {
        margin: 0px;
        padding: 0px;
    }
}

.event-name {
	@include event-detail;
	left: $padding;
	top: $padding;
}

.event-location {
	@include event-detail;
	left: $padding;
	bottom: $padding;
}

.event-expand {
	@include event-detail;
	right: $padding;
	top: $padding;

	a {
	    @include button-variant(#FFFFFF, #009900, #003300);
	    padding: 2px 5px;
	}
}

.event-datetime {
	@include event-detail;
	right: $padding;
	bottom: $padding;
}
