$padding: 5px;

@mixin event-detail {
    position: absolute;

    a, p {
        margin: 0px;
        padding: 0px;
    }
}

.event-name {
	@include event-detail;
	left: $padding;
	top: $padding;
}

.event-location {
	@include event-detail;
	left: $padding;
	bottom: $padding;
}

.event-expand {
	@include event-detail;
	right: $padding;
	top: $padding;

	a {
	    padding: 4px;
	}
}

.event-datetime {
	@include event-detail;
	right: $padding;
	bottom: $padding;
}
