$list-item-height: 75px;

.list-container {
    width: 100%;
    position: relative;
    top: -3px;
}

.list-item {
    height: $list-item-height;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $border1;

    &:nth-child(odd) {
        background: #CCCCCC;
    }
}
