$list-item-height: 75px;

.list-container {
    width: 100%;
    position: relative;
}

.list-item {
    height: $list-item-height;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $border1;

    &:first-child {
        border-top: 1px solid $border1;
    }

    &:nth-child(odd) {
        background: #CBE0BE;
    }
}
