$title-height: 50px;

.title-bar {
    height: $title-height;
    width: 100%;
    background: $primary1;

    padding: 0px;
    margin: 0px;

    text-align: center;
    /*display: flex;*/

    a {
        line-height: $title-height + 5;
        margin: 0px;

        font-size: 200%;
        font-family: "Times New Roman", Times, serif;
        text-decoration: none;
        color: $secondary1;
    }
}
