{% extends "layout.html" %}

{% block stylesheet %}<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">{% endblock %}

{% block title %}Campus Assistant{% endblock %}

{% block content %}
        <h1>Campus Assistant</h1>
        <hr class="explore" />
        <div class="sub-container">
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block homepage-button" role="button" href="food_entertainment">Food &amp; Entertainment</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block homepage-button" role="button" href="events">Events</a>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block homepage-button" role="button" href="study_spaces">Study Spaces</a>
                </div>
                <div class="col-xs-6">
                    <a class="btn btn-default btn-block homepage-button" role="button" href="campus_buildings">Campus Buildings</a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <hr class="questions" />
        <div class="sub-container">
            <form class="form-inline question-form">
                <input type="text" class="form-control question-entry" id="enterQuestion" placeholder="Enter a question">
                <button type="submit" class="btn btn-default question-search">Submit</button>
            </form>
            <br />
            <a class="btn btn-default btn-block" href="#">Browse previously asked</a>
        </div>
{% endblock %}
